.mule/plugins-tmp/repository/4.4.0-20220221/com/mulesoft/connectors/mule-cloudhub-connector/1.0.1/mule-cloudhub-connector-1.0.1-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/cloudhub" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="username">
            <xs:annotation>
              <xs:documentation>Username of the Anypoint Platform Account</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="password">
            <xs:annotation>
              <xs:documentation>Password of the Anypoint Platform Account</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="environment">
            <xs:annotation>
              <xs:documentation>Platform Environment to use. It is Optional, and by default will be used the one defined as Default in the platform.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://anypoint.mulesoft.com" name="anypointPlatformUrl">
            <xs:annotation>
              <xs:documentation>This is used to change between the US and EU Anypoint Platform if is required.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="CreateNotificationType" substitutionGroup="mule:abstract-operator" name="create-notification">
    <xs:annotation>
      <xs:documentation>Creates a new Notification</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CreateNotificationType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="message">
            <xs:annotation>
              <xs:documentation>Notification's message</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-properties">
            <xs:annotation>
              <xs:documentation>Additional properties for the notification</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="domain">
          <xs:annotation>
            <xs:documentation>Name of the application to bind the new notification</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/cloudhub" type="com.mulesoft.connectors.cloudhub.api.PriorityEnumType" use="optional" name="priority">
          <xs:annotation>
            <xs:documentation>Priority of the notification to create. INFO, WARN or ERROR.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="transactionId">
          <xs:annotation>
            <xs:documentation>Transaction ID for the Notification</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GetApplicationType" substitutionGroup="mule:abstract-operator" name="get-application">
    <xs:annotation>
      <xs:documentation>Retrieves a single application by name.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetApplicationType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="domain">
          <xs:annotation>
            <xs:documentation>The name of the application</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ListApplicationsType" substitutionGroup="mule:abstract-operator" name="list-applications">
    <xs:annotation>
      <xs:documentation>Retrieves all applications in the specified environment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ListApplicationsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="retrieveLogLevels">
          <xs:annotation>
            <xs:documentation>Whether should retrieve Application log levels</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="retrieveTrackingSettings">
          <xs:annotation>
            <xs:documentation>Whether should retrieve Application tracking settings</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="retrieveIpAddresses">
          <xs:annotation>
            <xs:documentation>Whether should retrieve Application IP Addresses</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionBoolean" use="optional" default="false" name="retrieveStatistics">
          <xs:annotation>
            <xs:documentation>Whether should retrieve Application statistics</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" default="1" name="period">
          <xs:annotation>
            <xs:documentation>Time of statistics to gather</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/cloudhub" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="HOURS" name="periodTimeUnit">
          <xs:annotation>
            <xs:documentation>Time Unit of the period</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="ListNotificationsType" substitutionGroup="mule:abstract-operator" name="list-notifications">
    <xs:annotation>
      <xs:documentation>Lists all the available notifications for a giver domain.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ListNotificationsType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-object-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="domain">
          <xs:annotation>
            <xs:documentation>Name of the application to gather notifications from</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" default="-1" name="limit">
          <xs:annotation>
            <xs:documentation>Number of notifications to retrieve. -1 means everything available.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" default="25" name="pageSize">
          <xs:annotation>
            <xs:documentation>Size of the page to retrieve per iteration. This only should be changed for performance purposes.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/cloudhub" type="com.mulesoft.connectors.cloudhub.api.NotificationStatusEnumType" use="optional" default="UNREAD" name="status">
          <xs:annotation>
            <xs:documentation>Filters the notifications by status. Read, Unread or All.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="search">
          <xs:annotation>
            <xs:documentation>If specified, only return notifications where the message contains this string. (Case Insensitive)</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="MarkNotificationType" substitutionGroup="mule:abstract-operator" name="mark-notification">
    <xs:annotation>
      <xs:documentation>Marks a notification as Read or Unread</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MarkNotificationType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="notificationId">
          <xs:annotation>
            <xs:documentation>ID of the notification</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/cloudhub" type="com.mulesoft.connectors.cloudhub.api.MarkStatusEnumType" use="required" name="markAs">
          <xs:annotation>
            <xs:documentation>Action to do. Mark as Read or Unread</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="username">
            <xs:annotation>
              <xs:documentation>Username of the Anypoint Platform Account</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="password">
            <xs:annotation>
              <xs:documentation>Password of the Anypoint Platform Account</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="environment">
            <xs:annotation>
              <xs:documentation>Platform Environment to use. It is Optional, and by default will be used the one defined as Default in the platform.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="https://anypoint.mulesoft.com" name="anypointPlatformUrl">
            <xs:annotation>
              <xs:documentation>This is used to change between the US and EU Anypoint Platform if is required.</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="com.mulesoft.connectors.cloudhub.api.PriorityEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ERROR"></xs:enumeration>
          <xs:enumeration value="INFO"></xs:enumeration>
          <xs:enumeration value="WARN"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.connectors.cloudhub.api.NotificationStatusEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="READ"></xs:enumeration>
          <xs:enumeration value="UNREAD"></xs:enumeration>
          <xs:enumeration value="ALL"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.connectors.cloudhub.api.MarkStatusEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="READ"></xs:enumeration>
          <xs:enumeration value="UNREAD"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>